<footer class="site-footer">
    <h4 class="footer-social-title">Siga a Sorte Analisada no Instagram</h4> 
    <div class="footer-links">
        <a href="https://www.instagram.com/sorte_analisada/?igsh=cW8zenNycWVieXF1#" title="Instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a> 
        <!-- <a href="https://www.tiktok.com/@sorte_analisada?_t=ZM-8yxvja7YoS8&_r=1" title="TikTok" target="_blank"><i class="fa-brands fa-tiktok"></i></a> -->
    </div>
    <div class="copyright">
        <a href="/" style="color: var(--cor-dourado); text-decoration: none;">Sorte Analisada</a>
        <br>
        <a href="/blog" style="color: var(--cor-dourado); text-decoration: none;">Blog Sorte Analisada</a>
        <br>
        <a href="/#sobre" style="color: var(--cor-dourado); text-decoration: none;">Sobre</a>
        <br>
        <a href="/#politica" style="color: var(--cor-dourado); text-decoration: none;">Política de Privacidade</a>
        <br>
        <a href="/#termos" style="color: var(--cor-dourado); text-decoration: none;">Termo de Uso</a>
        <br><br>
         ™ 2025 Sorte Analisada. Todos os direitos reservados.
        <br><br>
        Créditos: 
        <br>
        <a href="https://pt.dreamstime.com/ilustração-stock-trevo-dourado-com-quatro-folhas-image54683740" class="copyright">54683740</a> @ <a href="https://pt.dreamstime.com/deskcube_info" class="copyright">Deskcube</a> | <a href="https://pt.dreamstime.com/stock-photos" class="copyright">Dreamstime.com</a>
    </div>  
</footer>

